img {
   width: 300px;
}
/* Las medidas más usadas en las medidas son el REM y el porcentaje,más que nada porque no son medidas fijas a como lo es el pixel */

.banner{
    color: rgb(170, 170, 255);
    background-color: black;
    width: 8%;
}

.titulo1{
    color: rgb(115, 131, 126);
    background-color: yellowgreen;
    
}

a{
    text-decoration: none;
}